<!DOCTYPE html>
<html>
<head>
	<title>{% block title %}bMa -- {{debug}}{% endblock %}</title>
	{% block style %}
	<link rel="stylesheet" href="{{STATIC_URL}}leaflet/dist/leaflet.css" />
	<link rel="stylesheet" href="{{STATIC_URL}}leaflet/dist/leaflet.ie.css" />
	{% if debug %}
	<link rel="stylesheet/less" type="text/css" href="{{STATIC_URL}}debug.less">
	{% endif %}
	<link rel="stylesheet/less" type="text/css" href="{{STATIC_URL}}styles.less">
	{% endblock %}
	<script>
	{% block script_data %}
	{% endblock %}
	</script>
	{% block script %}
	<script src="{{STATIC_URL}}jquery-1.8.2.js"></script>
	<script src="{{STATIC_URL}}lessjs/dist/less-1.4.0-alpha.min.js"></script>
	<script src="{{STATIC_URL}}leaflet/dist/leaflet.js"></script>
    <!--     <script src="{{STATIC_URL}}lib/WKT.js"></script> -->
    <script src="{{STATIC_URL}}lib/Map.js"></script>
    <script src="{{STATIC_URL}}lib/Project.js"></script>
    <script src="{{STATIC_URL}}lib/Console.js"></script>
    <script src="{{STATIC_URL}}lib/Legend.js"></script>
    <script src="{{STATIC_URL}}lib/LayerSelector.js"></script>
    <script src="{{STATIC_URL}}lib/ZoomControl.js"></script>
    <script src="{{STATIC_URL}}wms.config.js"></script>
    <script src="{{STATIC_URL}}bma.js"></script>
    {% endblock %}
</head>
<body>

  <div id="container">
    {% block menu %}
    <div id="top">
      <div id="navigation">
        <ul>
		  <li> 
			<a href="#">
	          <img src="http://www.bmabru.be/Files/media/site_material/logo.png" alt="bMa" />
	        </a>
	      </li>
	      {% for cat in category %}
            <li>
                <a>{{cat.name}}</a>
            <ul>
            {% for page in cat.page_set.all %}
                <li>
                    <a href="/media/{{page.slug}}">{{page.title}}</a>
                </li>
            {% endfor %}
            </ul>
            </li>
	      {% endfor %}
          
        </ul>
      </div>
      <br  />
    </div>
    {% endblock %}
    {% block map %}
    <div id="map-wrapper">
    <div id="map-wrapper-2">
        <div id="bma-overlay-0">
            <div id="zoom-control-box"></div>
            <div id="layer-selector"></div>
        </div>
        <div id="bma-overlay-1">
            <div id="content"></div>
        </div>
        <div id="map"></div>
    </div>
    </div>
<!--	To reactivate when submited to bMa
	<div id="console"></div>
	{% endblock %}
  </div>
-->
</body>
</html>