.zoom-control-scale-scale{
    width:200px;
    .zoom-control-scale-part{
        display:inline-block;
        height:6px;
        &.zoom-control-scale-part-light{
            background-color:#aaa;
        }
        &.zoom-control-scale-part-dark{
            background-color:black;
        }
    }
}