
@font-face {
    font-family: 'URWGothicL';
    src: url('fonts/urwgothicldemi.eot');
    src: url('fonts/urwgothicldemi.eot?#iefix') format('embedded-opentype'),
        url('fonts/urwgothicldemi.woff') format('woff'),
        url('fonts/urwgothicldemi.ttf') format('truetype'),
        url('fonts/urwgothicldemi.svg#urwgothicldemi') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'FjallaOne-Regular';
    src: url('fonts/FjallaOne-Regular.eot');
    src: url('fonts/FjallaOne-Regular.eot?#iefix') format('embedded-opentype'),
        url('fonts/FjallaOne-Regular.woff') format('woff'),
        url('fonts/FjallaOne-Regular.ttf') format('truetype'),
        url('fonts/FjallaOne-Regular.svg#FjallaOne-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}



/* vars */
@saumon:#FFE3DE;
@hred:#ec4941;
@red:#EC4941;
@blue:#78AEDE;
@yellow:#FAF39F;
@green:#B1CB92;
@gray:#999999;
@fontH:Helvetica, Arial, sans-serif;
/* @italic: font-style:italic;
@bold: font-weight:bold;
@italic-bold: font-style:italic;font-weight:bold; */
@consoleW:200px;
@marginEXT : 10px;
@marginINT : 10px;
@bordermap : 1px;
@border: @bordermap solid #000;
@Hzoomcontrol : 20px;
@topH:35px;
@Wtop: ~"100% - @{marginEXT}";
@Wpopup: 680px;
@Hpopup : ~"50% - @{marginINT} - @{topH} - 2 * @{bordermap}";
@Lpopup : ~"50% - @{Wpopup} / 2 - @{marginINT} - @{bordermap}";
@Wmap-wrapper: ~"100% - 2 * @{marginEXT}";
@Hmap-wrapper: ~"100% - @{marginEXT} - @{topH}";
@Wmap-wrapper-2: ~"100% - 2 * @{marginINT} - 2 * @{bordermap}";
@Hmap-wrapper-2: ~"100% - @{marginINT} - @{topH} - 2 * @{bordermap}";
@Warticle-box:~"100% - @{Wmenu} - @{marginINT}";
@Harticle-box:~"100% - @{Hcatname}";
@Wimage-box:~"100% - @{Warticle} - 2 * @{marginINT} - 2 * @{marginEXT}";
@Hproject: ~"100% - 2 * @{marginINT} - 2 * @{bordermap} - @{marginEXT} - @{topH}";
@Warticle: 350px;
@Hcatname: 40px;
@Wmenu: 167px;
@printopacity : 1;
@scale-height: 26px;

/* ruleset */

.zoomrounded (@radius: 10px) {
  -webkit-border-radius: @radius;
  -moz-border-radius: @radius;
  -ms-border-radius: @radius;
  -o-border-radius: @radius;
  border-radius: @radius;
}

.zoomCTRL {
    .zoomrounded;
    width: 18px;
    height: 18px;
    background-color: white;
    color: @red;
    text-align: center;
    font-size: 12pt;
    line-height: 16px;
    font-family: 'FreeSans';
    border: 1px solid @red;
    }
    
.map-controls {
    .zoomrounded(3px);
    font-size: 8pt;
    background-color: white;
    padding: 0px 6px;
    color: #000; 
    border: 1px solid @red;
    } 
    
.full_panel{
    position:absolute;
    top:@topH ;
    bottom:(@topH / 2 + @bordermap);
    right:@marginEXT;
    left:@marginEXT;
    
    background-color: white;
}
.overlays{
    position:absolute;
    top:0;
    bottom:0;
    right:0;
    left:0;
    overflow-y: auto;
    background-color: white;
}

.Title {

     cursor:pointer;
     padding: 10px 15px;
     font-family: 'FjallaOne-Regular', Arial, Helvetica, sans-serif;  
     text-transform:uppercase;
     font-size:16pt;    
     letter-spacing:1px;
     display:inline-block;  
     line-height: 110%; 
}

.bluetitle {      
     .Title;
     background-color: @blue;
     color: white;
     width: (@Warticle - 30px + @marginINT);     
}

.featured-bluetitle {   
     .Title;
     background-color: @blue;
     color: white;     
     font-size:12pt;    
}

.whitetitle {
     .Title;
     background-color: white;
     color: #000;
 }
 
.featured-whitetitle {
    background-color: white;
    font-size:12pt;    
    display:inline-block;      
    padding:2px 6px 0px 6px;
    font-family: 'URWGothicL', Arial, Helvetica;  
    text-transform:uppercase;
    letter-spacing:2px;
    color: #000;
}

.redtitle {
     .Title;
     background-color: @red;
     color: white;
     width: (@Warticle - 30px + @marginINT); 
     margin-bottom: @marginINT;    
}

.featured-redtitle {
     background-color: @red;
     font-size:18pt;
     line-height:19pt;
     display:inline-block;
     .Title;
}

.infofield {
     padding: 0px 0px 4px 0px;
     font-size:10pt;
     line-height:12pt;
}
.infolabel {
        font-family: 'URWGothicL';
        font-size: 10pt;
        text-transform: uppercase;
        margin-top: 10px;
}

/* reset */
*, p, div, ul, li, h1, h2, h3, h4, h5, h6{padding:0; margin:0;}
body{font-family:Helvetica, Arial; text-align:left; margin:0px; font-size: 10pt;}
a, .link, .route{cursor:pointer;}

/************************
 *  Project description
 * 
 ************************/



/* position and dimensions */
html {width: 100%; height: 100%;}
body{height: 100%; }
/*#container{width:100%; height:100%; }
#container>*{top:0; }*/
/* #navigation{position: absolute; width:100%; height:@topH;} */
/* #content{width:35%; min-width:400px; left:40px; top:40px;} */

/* z-index */
#index_popup_box {z-index: 110}
#gallery-wrapper {z-index: 100}
#navigation{z-index:95;}
#page-box{z-index:90;}
#console{z-index:70;}
#map{z-index:50;}
@maxZIndex:1000;


#container{
    position:absolute;
    top:0;right:0;bottom:0;left:0;
    z-index:0;
}

#header{
    position:absolute;
    top:0;
    right:@marginEXT;
    left:@marginEXT;
    height:@topH;
}

#viewport{
    position:absolute;
    top:@topH;
    right:@marginEXT;
    bottom:@marginEXT;
    left:@marginEXT;
    border:@border;
}

/* elements */
#navigation {
	font-size:11px; 
	letter-spacing:0.05em;
    
	ul{ list-style:none; 
	    -webkit-margin: 0px;
	    position: absolute;
         display: block;
         left: (@Wmenu + @marginEXT - 3px); 
	    
	    h2 {
	    .Title;
	    background-color: @blue;
	    display: inline-block;
         margin-top: 10px;	    
	    }

		li{
			height:@topH;
			background:white;
			float:left;
			position:relative;
			padding:0px 10px;
			text-align: left;

     			&:first-child {
     			position: absolute;
                  left: (-@Wmenu - @marginINT - @marginEXT + 2px); 
     			}


			a{
               	text-transform:uppercase; 
               	font-family: 'FjallaOne-Regular',Arial, Helvetica, sans-serif;
               	position:relative; 
               	top:9px;
               	
                   	&.active {
                   	color: @blue;
                   	}
                   	
                   	&:hover {
                   	color: @blue;
                   	}                   	
               }
               
			ul{
				display:none;
				position:absolute;
				top:@topH;
                   z-index:@maxZIndex;
				left:1px;
				text-align:left;
				width: 100px;
				border: 1px solid #000;
				margin-left: 13px;
				padding: 5px 0px;


				li{
        				padding:0 6px; 
        				margin-bottom:5px; 
        				float:none; 
        				height:auto;
        				line-height: 100%;
        				
          				&:first-child {
                 			left: auto;
                 			position: relative;
                 			}
          			
        				
          				&:hover {
          				cursor: pointer;
               			color: @blue;
               			}
        			}
			}
			&:hover{background:white;
				ul{background:white; display:block;
				   width: 100px;}
				}
			&:first-child{
				a{top:5px;}
			}
		}
	}
	
	a{
	color:#000; 
	padding:2px 4px 1px; 
	text-decoration:none;
    }
}
	
.site-tools {
    position: absolute;
    top:0;
    right:0;
    text-align:right;
    color: #aaa;
    font-size: 8pt;
    font-family: 'FjallaOne-Regular',Arial, Helvetica, sans-serif;
    
    div, form{
        display:inline-block;
        height:@topH;
        line-height:@topH;
    }
    
    .projetcs-link {
        &.selected a{
            color: @blue;
        }   	
    }
        	
    .language_switcher {
        .language-switcher-item input[type="submit"] {
            -webkit-appearance: none;
            border: 0px;
            background-color: transparent;
/*             white-space: pre; */
            margin-left: 6px;
            font-family: 'FjallaOne-Regular',Arial, Helvetica, sans-serif;
            font-size: 8pt;
            color: #aaa;
            cursor: pointer;
        }
            
        .language-current input[type="submit"] {
            color: @blue;
        }
    }
}

/* } */


#project-box{
    position:absolute;
    top:@marginINT;
    bottom:@topH;
    left: (-@marginINT);
    width: (@Warticle + 2 * @marginINT);
    overflow: auto;
    padding-right: @marginINT;
    
    .project-title{
        .redtitle;
        
        .project-link{
            color: white;
            text-decoration: none;
}
    }
    
    .project-description{
        .infofield;
    }
    .project-info-label{
        .infolabel;
        .infofield;
    }
    .project-info-box{
    }
    
    .project-actions {
        table {
          width: 100%;
          
            tr {
            
            
            td {
            text-align: left;
            border: 1px solid #000;
            width: auto;

            
        
        .action-title {
            .infolabel;
            .infofield;
            padding:0px 0px 0px 0px ;
            font-size: 8pt;
            color: #aaa;
            height: 20px;
            vertical-align: top;
            display: block;
            float: left;
            clear: left;
            margin: 0px;
            }
            }
        }
        }
    }
}



/************************
 *  Map & borders map
 * 
 ************************/


#map{
    position:absolute;
    top:@marginINT;
    right:@marginINT;
    bottom:@topH;
    left:@marginINT;

    &.partial{
        left:(@Warticle + 4 * @marginINT);
    }
}


#index_popup_box {
  width: @Wpopup;
    background-color: transparent;
    position: absolute;
    top: 25%;
    left:25%;
      
   #index_popup_left {
      float: left;
      width: 220px;
      background-color: white;
      border: 1px solid #000;
      margin-right: 10px;
      padding: 10px 10px 10px 10px;
   }
   #index_popup_right {
      width: 400px;
      float: left;
      background-color: white;
      border: 1px solid #000;    
      padding: 10px;  
        
        .featured-title {
         margin-bottom: 10px;
         float: none;
         clear: both;
         
           &.featured-page a {
              .featured-bluetitle;
              text-decoration: none;
              padding: 5px 7px;
           
              &:hover {
                .featured-whitetitle;
                border: 1px solid #000;
                padding: 4px 6px;
              }
           }            

           &.featured-project a {
              .featured-redtitle;
              text-decoration: none;
              padding: 5px 7px;
           
              &:hover {
                .featured-whitetitle;
                border: 1px solid #000;
                padding: 4px 6px;
              }
           }          
        }
        
        h1 {
         font-family: 'URWGothicL',Arial, Helvetica, sans-serif;
         font-size: 10pt;
         text-transform: uppercase;
         margin-top: 10px;
      }

      p {
         margin-top: 7px;
         margin-bottom: 7px;
     }
     
     strong {
     font-weight: bold;
     }
     
     ul {
     list-style-type: circle;
     margin-left: 30px;
  
        li{
        margin-bottom: 5px;
        }
     }
   } 
}



/************************
 *  Tools Map
 * 
 ************************/

#maptools{
    position:absolute;
    z-index:100;
    height:@topH;
    right:@marginINT;
    bottom:0;


    #zoom-control-box {
        position: absolute;
        width: 50px;
        right: 0;
        bottom: 8px;

            .zoom-control-out {
                float: left;
                margin-right: 5px;
                .zoomCTRL;
                
                    &:hover {
                        cursor: pointer;
                    }
            }
        
            .zoom-control-scale-scale{
                width:148px;
                float: left;
                opacity: @printopacity;
        
                .zoom-control-scale-part{
                    display:inline-block;
                    
                    &.zoom-control-scale-part-light{
                        background-color: white;
                    }
                    &.zoom-control-scale-part-dark{
                        background-color: @red;
                    }
                }
            }  
            .zoom-control-in {
                float: left;
                clear: none;
                margin-left: 5px;    
                .zoomCTRL;
                
                    &:hover {
                        cursor: pointer;
                    }
            }   
    }
        
    .selector-root {
        .map-controls;
        position: absolute;
        bottom: 8px;
        width: 150px; 
        cursor: pointer;
        
        .selector-items-open {
            padding-bottom: 6px;
            
        }
        
        .selector-items {
            &:first-child {
            padding-top: 5px;
            }        
        }
        
        .selector-item {
            line-height: 120%;
        }
        .selector-item-selected {
            text-decoration: underline;
        }    
    }
        
    #layers{
        right: 60px; 
    }
    
    #cities{
        right: 235px;
    }
        
    #filter-box {
        .map-controls;
        right: 235px;
        width: 150px;
        
        
            &:hover {
            cursor: pointer;
            }
            
            .selector-items-open {
            padding-bottom: 6px;
            }
        
            .filter-reset {
            text-align: right;
            padding-top: 6px;
            }
            
            .selector-item-label {
        font-weight: bold;
            margin-top: 6px;
            }
            
            .selector-item {
            padding-left: 6px;
            }
            
            .selector-item-selected {
            text-decoration: underline;
            }
    } 


    .control-scale-box{
        height: @scale-height;
        background-color:transparent;
        margin:2px;
        border:0px solid black;
        padding:2px;
        .control-scale-metrics-box{
            position:relative;
            height: (@scale-height / 2);
            .control-scale-metrics-start{
                position:absolute;
                left:0;
                bottom:-10px;
                -webkit-text-stroke: 0.3px white;
            font-weight: bold;
                font-size: 10pt;
            }
            .control-scale-metrics-end{
                position:absolute;
                right:0;
                bottom:-10px;            
                -webkit-text-stroke: 0.3px white;
                font-weight: bold;
                font-size: 10pt;
            }
        }

        .control-scale-scale{
    /*      position:absolute;
            bottom:0;*/
            .control-scale-row{
                height:4px;
                .control-scale-part{
                    display:inline-block;
                    height:4px;
                    &.control-scale-part-light{
                        background-color:white;
                    }
                    &.control-scale-part-dark{
                        background-color:@red;
                    }
                }
            }
        }
    }
}

/************************
 *  Articles and Menu
 * 
 ************************/


#page-box {
    height:100%;
    .page{
        position: absolute;
        top:@marginINT;
        right:@marginINT;
        bottom:@marginINT;
        left:0px;
        
        .menu-box {
        position: absolute;
        display: block;
        width: @Wmenu;
        font-size: 11px;
        text-align: center;
        left:-1px;
        top:@marginINT;
            
            .menu_item {                
            margin-bottom: 5px;
            text-align: left;
            padding: 2px 0px 1px 0px;
            line-height: 14px;
            border-top: 1px solid #000;
            border-bottom: 1px solid #000;
            border-left: 1px solid white;
            
                span {
                padding: 0px 15px 1px 15px ;
                max-width: (@Wmenu - 30px); 
                width: auto; 
                display: inline-block;                    

                

                    &:hover {
                        cursor: pointer;
                        color: @blue;
                        background: white url(images/L2-h-red.gif) repeat-x 0px 50%;
                        z-index: 10;
                        }
                                        
                    span{
                        background: white;
                        padding: 0px 6px; 
                        border: 0px;  


                        &:hover {
                            cursor: pointer;
                            color: @blue;
                            background: white;
                            }
                        }
                    }
                

            &.menu_item_current {
                    span {
                    color: #000;
                    background: white url(images/L2-h-red.gif) repeat-x 0px 50%;     
                                                                                        
                        span{
                            background: white url(none) repeat-x 0px 8px;
                        }
                    }
                }
                
            }   
        }
                
        .article-box{
            position: absolute;
            display: block;
            left: (@Wmenu + @marginINT + @marginEXT); 
            top:@marginINT;
            right:@marginINT;
            bottom: (@topH - @marginINT);
            overflow: auto;
            
                .article-title{
                    width: (@Warticle);                     
                    margin-bottom: 10px;
                    float: left;
                    clear: right;
                    
                    .route{
                        .bluetitle;
                        }
                }
                    
                .article-body {
                width: (@Warticle);
                float: left;
                clear: left;
                    
                    h1 {
                        font-family: 'URWGothicL', Arial, Helvetica, sans-serif;
                        font-size: 12pt;
                        text-transform: uppercase;
                        margin-top: 10px;
                    }

                    p {
                        margin-top: 7px;
                        margin-bottom: 7px;
                    }
                    
                    strong {
                font-weight: bold;
                    }
                    
                    ul {
                    list-style-type: circle;
                    margin-left: 30px;
                
                    li{
                    margin-bottom: 5px;
                    }
                    }
                }
                
                .article-image{
                    width: -calc(@Wimage-box); 
                    width: -webkit-calc(@Wimage-box); 
                    width: -moz-calc(@Wimage-box); 
                    width: -o-calc(@Wimage-box); 
                    float: left;
                    margin-left: (2 * @marginINT);
                
                img {
                display: block;
                width: 100%;
                margin-left: auto;
                margin-right: auto;
                }
                }
        }
    }
}


#projects_table_wrapper{
    position:absolute;
    top:@marginINT;
    right:@marginINT;
    bottom: (@topH);
    left:@marginINT;
    overflow-y:auto;
    table#projects_table {
        width:100%;
        border-width: 1px;
        border-color: #666666;
        border-collapse: collapse;
        
thead {
          
        tr {                   
          font-size:10pt;
          font-family: 'URWGothicL', Arial, sans-serif;
          height: 30px;
          
            th {
              border-bottom: 1px solid #000;
              margin-bottom: 30px;
              cursor: pointer;
              padding-right: @marginINT;
              
              .icon-chevron-down,
              .icon-chevron-up {
                color: #ccc;
                opacity: 0.3
              }
              
              &:hover {
              color: @blue;
              }


              &.sorting-asc {
                    
                    .icon-chevron-down {
                    display: none
                    }
                    .icon-chevron-up {
                    opacity: 1;
                    }
              }
              
              &.sorting-desc {
                    
                    .icon-chevron-up {
                    display: none
                    }
                    
                    .icon-chevron-down {
                    opacity: 1;
                    }
             }
             
             i {
             float: right;
             }             
            }
      }     
       
    }    

    tbody {
         line-height: 110%;
 
        td {   
        border-bottom: 1px solid #ccc;
        padding: 6px @marginINT 6px 0px;
        font-size: 8pt;   
        
         a {
          color: #000;
          text-decoration: none;
          &:hover {
          color: @blue;
          cursor: pointer
          }
         }             
        }
      }        
    }    
}



/************************
 *  Project Carousel
 * 
 ************************/

.image-box{
    position:absolute;
    top:0;
    right:0;
    bottom:0;
    left:0;
    z-index:@maxZIndex;
    background-color:white;
    .container{
        margin-top: 32px;
        border: 1px solid;
        padding: 20px;
    }
}


