{% load i18n %}
{# contact form #}
<div class="title">{% trans "Contactez-nous" %}</div>

<div class="infos">
	<div class="infos-left">
		C.C.N. </br>
		{% trans "7ème étage" %} </br>
		{% trans "80 rue du Progrès" %}</br> 
		{% trans "B-1035 Bruxelles" %}</br>
	</div>

	<div class="infos-right">
		info@bmabru.be </br>
		+32.2.204.24.21 </br>
	</div>

</div>
<div class="form">
<label>{% trans "Name" %}</label>
<input type="text" name="name"></input>

<label>{% trans "Email" %}</label>
<input type="email" name="from"></input>

<label>{% trans "Message" %}</label>
<textarea name="message"></textarea>

<button class="send-message">{% trans "Send" %}</button>
</div>

