{% load i18n %}
{# page #}
<div class="menu-box">
    <% for(var pid in data.pages){ var page = data.pages[pid]; %>
        <div class="menu_item <% if(page.slug === data.slug){ print('menu_item_current');} %>" id="menu_item_Introductie">
        <span>
            <span class="route" data-route="page/<%= page.slug %>" ><%- page.title %></span>
        </span>
    </div>
    <% } %>
</div>
<div class="article-box">
    <div class="article-title">
    <span class="route" data-route="page/<%= data.slug %>"><%= data.title %></span>
    </div>
    <div class="article-body">
        <%= data.format_body %>
        
        <% if(data.resources && data.resources.length > 0){ %>
        <h3 class="docs">{% trans "Documents à télécharger" %}</h3>
        <% for(var ridx in data.resources){ var res = data.resources[ridx]; %>
            <div class="resource">
                <a href="{{MEDIA_URL}}<%= res.path %>">– <%= res.name %></a>
            </div>
        <% }} %>
        
    </div>
    <div class="article-image">
        <% if(data.image){ %>
        <image src="{{MEDIA_URL}}<%= data.image %>" width="<%= data.width %>" height="<%= data.height %>" />
        <% } %>
    </div>
</div>
