{% load i18n %}
{# projects list #}


<table id="projects_table">
    <thead>
        <tr>
            <th data-sort="string">
                {% trans "Name" %}<i class="icon-chevron-up"></i><i class="icon-chevron-down"></i>
            </th>
            <th data-sort="string">
                {% trans "Address" %}<i class="icon-chevron-up"></i><i class="icon-chevron-down"></i>
            </th>
            <th data-sort="string">
                {% trans "City" %}<i class="icon-chevron-up"></i><i class="icon-chevron-down"></i>
            </th>
            <th data-sort="string">
                {% trans "Function" %}<i class="icon-chevron-up"></i><i class="icon-chevron-down"></i>
            </th>
        </tr>
    </thead>
    <tbody class="table-body">

    </tbody>
</table>



