{% load i18n %}
<!DOCTYPE html>
<html lang="{{LANGUAGE_CODE}}">
<head>
	<title>{% block title %}bMa - Bouwmeester Maître Architecte{% endblock %}</title>
	
	<link rel="stylesheet" href="{{STATIC_URL}}leaflet/dist/leaflet.css" />
	<link rel="stylesheet" href="{{STATIC_URL}}leaflet/dist/leaflet.ie.css" />
	<link rel="stylesheet/less" type="text/css" href="{{STATIC_URL}}styles.less">
	
	
	<script>
	if(!window.console){(function(){varnames=["log","debug","info","warn","error","assert","dir","dirxml","group","groupEnd","time","timeEnd","count","trace","profile","profileEnd"],i,l=names.length;window.console={};for(i=0;i<l;i++){window.console[names[i]]=function(){};}}());}

    // DATA
    window.bMa = {};
    
    (function(undefined){
        'strict';
        window.bMa.Data = {
            Medias:{},
            Projects:{},
            Geometries:{},
        };
        {% for cat in category %}
            window.bMa.Data.Medias['{{cat.name}}'] = {};
            {% for page in cat.page_set.all %}window.bMa.Data.Medias['{{cat.name}}'][{{page.id}}] = {id:{{page.id}},title:'{{page.title}}', slug:'{{page.slug}}'};{% endfor %}
        {% endfor %}
        
        {% for p in projects %} 
        window.bMa.Data.Projects['{{p.slug}}'] = {
            id:{{p.id}},
     {% if p.mpoly %}geometry:{{ p.mpoly.geojson|safe }},{% endif %}
     {% if p.mpoly %}city:'{{ p.city }}',{% endif %}
        }; 
        {% endfor %}
    })();
    
	</script>
</head>
<body>

<script src="{{STATIC_URL}}javascript/lib/less.js"></script>
<script src="{{STATIC_URL}}javascript/lib/jquery/jquery-1.9.1.min.js"></script>
<script src="{{STATIC_URL}}javascript/lib/leaflet/leaflet.js"></script>
<script src="{{STATIC_URL}}javascript/lib/underscore-min.js"></script>
<script src="{{STATIC_URL}}javascript/lib/backbone-min.js"></script>
<script src="{{STATIC_URL}}javascript/lib/template.js"></script>
<script src="{{STATIC_URL}}javascript/lib/layout.js"></script>

<script src="{{STATIC_URL}}wms.config.js"></script>

<script src="{{STATIC_URL}}javascript/routers.js"></script>
<script src="{{STATIC_URL}}javascript/models.js"></script>
<script src="{{STATIC_URL}}javascript/collections.js"></script>
<script src="{{STATIC_URL}}javascript/views.js"></script>
<script src="{{STATIC_URL}}javascript/app.js"></script>
<script src="{{STATIC_URL}}javascript/index.js"></script>
</body>
</html>