{% extends "base.html" %}
{% load i18n %}

{% block script_data %}
{% endblock %}
{% block script_extra %}
<script src="{{STATIC_URL}}lib/Article.js"></script>
<script src="{{STATIC_URL}}lib/Config.js"></script>
<script src="{{STATIC_URL}}plugins/stupidtable.js"></script>
<script>
$('document').ready(function(){
    $('#projects_table').stupidtable();
});
</script>
{% endblock %}

{% block title %}bMa -- {% trans "Projects List" %}{% endblock %}

{% block script_map %}
{% endblock %}
{% block menu %}

{% endblock %}

{% block map %}
<div id="map-wrapper">
<div id="projects_table_wrapper">
<table id="projects_table">
<thead>
<tr>
<th data-sort="string">{% trans "Name" %}<i class="icon-chevron-up"></i><i class="icon-chevron-down"></i></th>
<th data-sort="string">{% trans "Address" %}<i class="icon-chevron-up"></i><i class="icon-chevron-down"></i></th>
<th data-sort="string">{% trans "City" %}<i class="icon-chevron-up"></i><i class="icon-chevron-down"></i></th>
<th data-sort="string">{% trans "Function" %}<i class="icon-chevron-up"></i><i class="icon-chevron-down"></i></th>
</tr>
</thead>
<tbody>
{% for project in projects %}
<tr>
<td><a href="{% url 'project' project.slug %}">{{ project.name }}</a></td>
<td>{% if project.address %}{{ project.address }}{% endif %}</td>
<td>{% if project.city %}{{ project.city.zipcode }} {{ project.city.name }}{% endif %}</td>
<td>{%for f in project.functions.all %}{{ f.name }}{% if not forloop.last %}, {% endif %}{%endfor%}</td>
</tr>
{% endfor %}
</tbody>
</table>
</div>
</div>
{% endblock %}