{% load i18n %}
<!DOCTYPE html>
<html>
<head>
<title>bMa - News</title>

<link rel="stylesheet/less" type="text/css" href="{{STATIC_URL}}news/styles.less">
<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}news/bootstrap/bootstrap.min.css">

<script src="{{STATIC_URL}}jquery-1.8.2.js"></script>
<script src="{{STATIC_URL}}lessjs/dist/less-1.4.0-alpha.min.js"></script>
<script src="{{STATIC_URL}}news/bootstrap/bootstrap.min.js"></script>
<script src="{{STATIC_URL}}news/underscore-min.js"></script>
<script src="{{STATIC_URL}}news/backbone-min.js"></script>
<script src="{{STATIC_URL}}news/backbone_generic.js"></script>
<script src="{{STATIC_URL}}news/app.js"></script>

</head>
<body>

</body>
</html>